@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
}

.book{
  display: grid;
  grid-template: auto 1fr;
  padding: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}
.book img{
  max-width: 100px;
  max-height: 150px;
}
.book-title{
  font-weight: bold;
}
.book-item img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
